.cards {
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr;
    @media (width <= $breakpoint-md) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
    }

    @media (width <= $breakpoint-sm) {
        display: block;
    }
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    align-items: center;

    &:nth-child(even) {
        .card__content {
            order: -1;
        }
    }

    @media (width <= $breakpoint-md) {
        display: block;
        &:nth-child(even) {
            .card__content {
                order: unset;
            }
        }
    }
}

.card__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    
    h3,
    p,
    a {
        margin: 0;
    }

    a {
        display: flex;
        color: var(--color-black);
        background-color: var(--color-primary);
    }
}

.card__media {
    aspect-ratio: 594/490;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}


