.header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 25px 0;
    text-align: center;
    position: fixed;
    width: 100%;

    a {
        color: var(--color-white);
        margin: 0;
    }
}
