.header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 25px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 100;
    .wrapper {
        display: flex;
        justify-content: space-between;

        .liens {
            display: flex;
            gap: 50px;
        }
        a:hover,
        a.active {
            color: var(--color-primary);
        }
    }

    a {
        color: var(--color-white);
        margin: 0;
    }

    .active {
        color: var(--color-primary);
    }
}
