.section-react {
    background-color: var(--color-primary);
    color: var(--color-black);

    .wrapper {
        padding: 80px 0;
    }
    .span-gris {
        font-weight: 300;
    }

    .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
        @media (width <= $breakpoint-sm) {
            grid-template-columns: 1fr;
        }
    }

    .card__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 32px;
    }

    a {
        color: black;
        text-decoration: none;
    }

    .btn {
        background-color: var(--color-bg-primary);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 16px;
        gap: 8px;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 100px;
        width: fit-content;
    }

    .bold {
        font-weight: bold;
    }

    h4 {
        font-size: #{typo(16px)};
        margin: 0;
    }

    h2 {
        margin-bottom: 100px;
        font-size: #{typo(30px, 40px)};
    }

    .tag {
        font-size: #{typo(16px, 18px)};
    }

    p {
        font-size: #{typo(24px, 32px)};
        margin: 0;
    }

    .icon {
        font-size: 24px;
    }

    .card__media {
        width: 100%;
        height: 100%;
    }
    .card__media img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        border-radius: 16px;
        aspect-ratio: 3/2;
    }
}
